[project]
	description = fork from lauchingjun
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shen Jiale (jerry9032)
[access "refs/for/refs/*"]
	read = group user/Shen Jiale (jerry9032)
	push = group user/Shen Jiale (jerry9032)
	label-Code-Review = -2..+2 group user/Shen Jiale (jerry9032)
	label-Verified = -1..+1 group user/Shen Jiale (jerry9032)
	rebase = group user/Shen Jiale (jerry9032)
	removeReviewer = group user/Shen Jiale (jerry9032)
	submit = group user/Shen Jiale (jerry9032)
[access "refs/heads/*"]
	read = group user/Shen Jiale (jerry9032)
	create = group user/Shen Jiale (jerry9032)
	push = +force group user/Shen Jiale (jerry9032)
	pushMerge = group user/Shen Jiale (jerry9032)
[access "refs/tags/*"]
	push = +force group user/Shen Jiale (jerry9032)
	pushTag = group user/Shen Jiale (jerry9032)
	pushSignedTag = group user/Shen Jiale (jerry9032)
